body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    text-align: center;
}
.header1{
    background-color: rgba(214, 214, 214, 0.849);
}
.contenedor{
    max-width: 1910px;
    gap: 10px;
    margin: auto;

}
header .contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin: 0;
}
header a{
    padding: 1px 10px;
    text-decoration: none;
    font-weight:bold;
    color: rgb(39, 39, 39);
}
header a:hover{
    color: rgb(148, 16, 27);
}

.imglogo{
    margin: 15px 0 10px 0 ;
    width: 130px;
}

.user{
    margin: 0 10px 0 40px ;
}

.contenedor2{
margin: 0%;
padding: 0%;
box-sizing: border-box;    
}

.search-box{
    background-color: white;
    min-width: 500px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 30px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.562);
    margin: 0 10px 0 0 ;
    
}

.search-box input{
    flex: 1;
    padding: 15px 10px;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 20px;
}

.search-box button img{
    width: 35px;
}

.search-box button{
    padding: 10px 12px;
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;

}

.Usua{
    color:rgb(185,61,72) ;
    font-size: 35px;
}


h1{
    text-align: center;
    
}

.intro{
    width: 176px;
    color: white;
    background-color: #21102B;  
    position: absolute;
    top: -45px;
    left: 10px;
    padding: 13px 0;
    border-radius: 15px 0 0 0;
}

.conte{
    width: 176px;
    color: white;
    background-color: #7D243A;  
    position: absolute;
    top: -45px;
    left: 186px;
    padding: 13px 0;
}

.evide{
    width: 176px;
    color: white;
    background-color: #B93D48;  
    position: absolute;
    top: -45px;
    left: 362px;
    padding: 13px 0;
}

.evalu{
    width: 176px;
    color: white;
    background-color: #e65a45ed;  
    position: absolute;
    top: -45px;
    left: 538px;
    padding: 13px 0;
}

.certi{
    width: 176px;
    color: white;
    background-color: #fc785af0;  
    position: absolute;
    top: -45px;
    left: 714px;
    padding: 13px 0;
    border-radius: 0 15px 0 0;
}

.enlace a{
    text-decoration: none;
    color: white;
}
.T-conte{
    margin: 50px auto  15px;
    color: white;
    text-decoration: 3px solid white underline overline;
}

.video{
    margin: 20px 0 20px 0;
}
.box{
    position: relative;
    margin: 100px auto 0;
    width: 900px;
    min-width: 700px;
    min-height: 500px;
    background-color: #7D243A;
    border-radius: 10px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container2{
    margin-left: 60px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.container3{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.T-intro{
    color: white;
    text-decoration: 3px solid white ;
}

.accordion {
    text-align: start;
    background-color: #7D243A;
    color: white;
    cursor: pointer;
    padding: 18px;
    border: none;
    outline: none;
    transition: 0.4s;
}

.panel{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 18px;
}

.desca{
    text-decoration: none;
    color: white;
    margin: 0 0 40px 0 ;
}


.foote{
    background-color: #535353;
    padding: 10px;
    padding: 10px;
    margin-top: 60px;

}

.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px;
    margin: auto;
}

.foot a{
    color: rgb(255, 253, 253);
    text-decoration: none;
    font-size: 19px;
}

.img-logo{
    width: 50px;
}

.foote{
    background-color: #535353;
    padding: 20px;
}

.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.dis{
    font-size: 19px;
}

.redes{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 0 0 50px;
}

.redes a{
    font-size: 35px;
    transition: 0.5s;
}

.Yout{
color: rgb(255, 255, 255);
}

.Tik{
color: rgb(255, 255, 255);
}

.Whats{
    color: rgb(255, 255, 255);
}

.Ins{
color: rgb(255, 255, 255);
}

.redes a:hover{
    transform: scale(1.4);
}

.btn-sugerencia{
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;
}

