body{
    background: white;
}
.container{
    margin: 100px auto;
    width: 450px ;
    height: 700px;
    background-image: url(img/fondo.webp) ;
    overflow: hidden;
    position: relative;
    
}

.Coraline{
    position: absolute;
    bottom: 0;
    right: 60px;
    width: 230px;
    z-index: 5;
}

.titulo{
    position: absolute;
    top: 50px;
    right: 10px;
    width: 400px;

    z-index: 9;
/*     animation-name: tit;*/
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-fill-mode: forwards; 
}

@keyframes tit{
    0%{
        transform:scale(0);
    }50%{
        transform:scale(0);
    }55%{
        transform:scale(1);
    }65%{
        transform:scale(1);
    }85%{
        transform:scale(1);
    }100%{
        transform:scale(0);
    }
}


.gato{
    position: absolute;
    bottom: 0;
    right: -30px;
    width: 230px; 
    z-index: 4;
/*     animation-name: cat;*/
    animation-duration: 3s;
    animation-timing-function: linear; 
    animation-fill-mode: forwards;
}

@keyframes cat {
    0% {
      transform: unset;
    }
    100% {
      transform: translateX(-561px);
  
  
    }
}  

.arbol{
    position: absolute;
    bottom: 0px;
    right: -50px;
    width: 550px;
    z-index: 3;
}

.luna{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 60px;
    right: 20px;
    z-index: 1;
}

.boton{
    position: absolute;
    opacity: 0.7;
    top: 20px;
    right: 220px;
    width: 465px;
    z-index: 2;
/*      animation-name: luna; */
    animation-duration: 10s;
    animation-timing-function: linear; 
}

@keyframes luna{
    20%{
        right: 220px;
    }50%{
        right: -238px;
    }70%{
        right: -238px;
    }100%{
       right: -620px;
    }
}

.casa{
    position: absolute;
    bottom: -10px;
    left: -20px;
    width: 450px;
    z-index: 2;
}

.btn{
    display: flex;
    margin: auto;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: "Courier New", Courier, monospace;
    background-color: rgb(68, 70, 96);
    border-radius: 15%;
    border: 3px solid white;
    padding: 5px;

}